<span><%= StuID %></span>
<span class="show">
     <div class="disp"><%= Name %></div>
     <div class="edit">
           <input type="text" name="Name" id="Name" value="<%= Name %>" class="inputtxt" size="8" />
     </div>
</span>
<span class="show">
     <div class="disp"><%= Sex %></div>
     <div class="edit">
           <select name="Sex" id="Sex">
                   <option value="男">男</option>
                   <option value="女">女</option>
           </select>
     </div>
</span>
<span class="show">
     <div class="disp"><%= Score %></div>
     <div class="edit">
           <input type="text" name="Score" id="Score" class="inputtxt" size="8" />
     </div>
</span>
<span><a href="#">删除</a></span>
